* {
  padding: 0;
  margin: 0;
  font-family: "Inter Tight", sans-serif;
}

body {
    background-color: #1E1E1E;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.gallery-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
}

.gallery__item {
  background-position: 50% 50%;
  background-size: cover;
  flex: none;
  position: relative;
  img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    border-radius: 24px;
  }
}

.gallery--bento {
  display: grid;
  grid-template-columns: repeat(6, 15.83vw);
  grid-template-rows: repeat(4, 24.25vh);
  gap: 1vh;
  justify-content: center;
  align-content: center;
}

.gallery--final.gallery--bento {
  grid-template-columns: repeat(6, 49.5vw);
  grid-template-rows: repeat(4, 49.5vh);
  gap: 1vh;
}

.gallery--bento .gallery__item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 3;
}

.gallery--bento .gallery__item:nth-child(2) {
  grid-area: 2 / 1 / 3 / 3;
}

.gallery--bento .gallery__item:nth-child(3) {
  grid-area: 3 / 1 / 5 / 3; 
}

.gallery--bento .gallery__item:nth-child(4) {
  grid-area: 1 / 3 / 2 / 5;
}

.gallery--bento .gallery__item:nth-child(5) {
  grid-area: 2 / 3 / 4 / 5;
}

.gallery--bento .gallery__item:nth-child(6) {
  grid-area: 4 / 3 / 5 / 5;
}

.gallery--bento .gallery__item:nth-child(7) {
  grid-area: 1 / 5 / 3 / 7;
}

.gallery--bento .gallery__item:nth-child(8) {
  grid-area: 3 / 5 / 4 / 7; 
}

.gallery--bento .gallery__item:nth-child(9) {
  grid-area: 4 / 5 / 5 / 7;
}

.section {
  padding: 2rem 5rem;
  color: white;
}

.section h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
}
